/*preconfig do site*/
*{
	margin: 0;
	padding: 0;
	box-sizing: borde-box;
	font-family: "Open Sans";
}

/*compatibilidade com IPHONE e outros*/

input{
	border-radius: 0;
	appearance: none;
}

/*BOOT CSS*/

html,body{
	overflow-x: hidden;
	height: 100%;
} /*preset para manter o site responsivo*/

.center{ 
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
} /*para deixar o site centralizado e com uma margem*/

.left{
	float: left;
} 

.right{
	float: right;
}

.clear{
	clear: both;
}

/*ESTILIZAÇÂO DO SITE*/

header .header1{
	padding: 2px 0;
	background: #D98E7E;
	width: 100%;
}

header .header2{
	background: #8C3939;
	padding: 20px 0;
}

header a{
	text-decoration: none;
}

header .logo{
	margin-top: 7px;
}

header .rede-sociais a{
	color: #8C3939;

}

.header1 ul{
	position: relative;
	top: 3px;
	list-style-type: none;
}

.header1 li{
	display: inline-block;
	font-size: 25px;
	padding: 0 10px;
}

.header2 ul{
	position: relative;
	top: 3px;
	list-style-type: none;
}

.header2 li {
	display: inline-block;
	font-size: 15px;
	padding-right: 20px;
	color: #A68C86;
}

.header2 a{
	color: #A68C86;
}

.header2 .active-menu{
	color: #D9C0BA !important;
	border-bottom: 2px solid #D9C0BA;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}


